<h1 mat-dialog-title>{{ data.Title }}</h1>
<div class="movie-container">
  <div class="movie-img">
    <img
      [src]="
        data.Poster !== 'N/A' ? data.Poster : '../../assets/images/poster.jpg'
      "
      alt="movie-poster"
    />
  </div>
  <div class="movie-info">
    <p mat-dialog-content><b>Actors:</b> <span>{{ data.Actors }}</span></p>
    <p mat-dialog-content><b>Awards:</b> <span>{{ data.Awards }}</span></p>
    <p mat-dialog-content><b>Country:</b> <span>{{ data.Country }}</span></p>
    <p mat-dialog-content><b>Type:</b> <span>{{ data.Type }}</span></p>
    <p mat-dialog-content><b>Genre:</b> <span>{{ data.Genre }}</span></p>
    <p mat-dialog-content><b>Language:</b> <span>{{ data.Language }}</span></p>
    <p mat-dialog-content><b>Writer:</b> <span>{{ data.Writer }}</span></p>
    <p mat-dialog-content><b>Year:</b> <span>{{ data.Year }}</span></p>
    <p mat-dialog-content><b>Runtime:</b> <span>{{ data.Runtime }}</span></p>
    <p mat-dialog-content><b>Plot:</b> <span>{{ data.Plot }}</span></p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
