* {
  box-sizing: border-box;
}
.container {
  background-color: burlywood;
}
.movie-container {
  display: flex;
  .movie-info {
    max-width: 600px;
    p {
      width: 100%;
      display: flex;
    }
    b {
      flex-shrink: 0;
      width: 100px;
    }
  }
}
