* {
  box-sizing: border-box;
}
h1 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin-bottom: calc(5px + 7 * (100vw / 1280));
}
.movie-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  .movie-img {
    
    width: 35%;
    img {
      border-radius: 6px;
      width: 100%;
      height: auto;
    }
  }
  .movie-info {
    width: 65%;
    p {
      font-size: 0.875rem;
      padding: 0 calc(4px + 10 * (100vw / 1280));
      margin-bottom: calc(2px + 7 * (100vw / 1280));
      line-height: 1.25rem;
      width: 100%;
      display: flex;
    }
    b {
      flex-shrink: 0;
      width: 25%;
    }
    span {
      width: 75%;
    }
  }
}
@media (max-width: 768px) {
  .movie-container {
    .movie-info {
      b {
        width: 32%;
      }
      span {
        width: 68%;
      }
    }
  }
}
@media (max-width: 480px) {
  .movie-container {
    flex-direction: column;
    .movie-img {
      width: 90%;
    }
    .movie-info {
      width: 100%;
      p {
        flex-direction: column;
      }
      b {
        width: 100%;
      }
      span {
        width: 100%;
      }
    }
  }
}
