/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background-color: beige;
}
.mat-dialog-container {
  background-color: rgb(247, 210, 162);
}
.cdk-overlay-container {
  overflow-y: auto;
  background: rgba(0,0,0,.32);
}
.cdk-overlay-dark-backdrop {
  background: transparent;
}
@media (max-width: 480px) {
  .mat-paginator-page-size {
    display: none !important;
  }
}
