.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper {
  width: 80%;
  max-width: 500px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 8px;
  row-gap: 10px;
}
.container {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: auto;
  div {
    display: flex;
    align-items: center;
  }
  mat-form-field {
    height: 50px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 6px;
    padding: 0 10px;
  }
}
.button-container {
  width: 100%;
}
button {
  display: block;
  width: 100%;
  height: 40px;
}
.movies-container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
  margin-bottom: 15px;
  app-movie {
    width: 350px;
  }
}
h2 {
  text-align: center;
}
mat-paginator {
  border-radius: 6px;
}
@media (max-width: 480px) {
  .wrapper {
    width: 90%;
  }
  .container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
}
